h1{
    color:green;
}
h1, h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
p{
    line-height:25px;
}
a{
    text-decoration:none;
    
}
a:hover {
    text-decoration:underline;
}
.up{
    text-transform: uppercase;
}
.pic1{
    float:left;
    padding:20px;
}
